html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}


.Keys {
  display: block;
  position: absolute;
  left: 48px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
}


.RaceInfo {
  display: block;
  position: absolute;
  right: 48px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
}


.RaceInfo#Countdown {
  font-size: 48px;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}



.RaceInfo#WinText {
  font-size: 48px;
  top: 25%;
  right: 50%;
  transform: translate(50%, 50%);
}


.RaceInfo#CurrentLap {
  top: 8px;
}



.RaceInfo#BestTime {
  top: 72px;
}


.RaceInfo#CurrentTime {
  top: 40px;
}


.Keys#NewKey {
  font-size: 32px;
  bottom: 128px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.Keys#KeyCountdown {
  font-size: 32px;
  bottom: 48px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.Keys#ForwardKey {
  top: 8px;
}


.Keys#BackwardKey {
  top: 40px;
}


.Keys#LeftKey {
  top: 72px;
}


.Keys#RightKey {
  top: 104px;
}


#glcanvas {
  display: block;
	width: 100vw;
  height: 100vh;
}